@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';

@mixin positioning($top, $left, $bottom, $right) {
  top: $top;
  right: $left;
  bottom: $bottom;
  left: $right;
}

@mixin v-link() {
  --link-color: var(--white-50);
  --link-width: 0%;

  color: var(--link-color);
  padding: 0.25rem 0 !important;
  position: relative;
  text-decoration: none !important;
  transition: all 0.3s var(--ease-primary);

  &:before {
    content: '';
    position: absolute;
    transition: all 0.3s var(--ease-primary);
    bottom: 0;
    display: block;
    height: 1px;
    background-color: var(--primary);
    width: var(--link-width);
  }

  &:hover {
    --link-color: white;
    --link-width: 100%;
  }
}
